
# Django
*.log
local_settings.py
*.sqlite3
*.sqlite3-journal
*.db
media/
static/

# Virtual Environment
venv/
env/
ENV/
.env
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# System Files
.Trash/
.bash_history
.codeium/
.gitconfig
.ipython/
.lesshst
.pgadmin/
.python_history
.ssh/
.viminfo
.windsurf/
.zsh_history
.zsh_sessions/

# Applications and User Directories
Applications/
Codenicely/
Downloads/
Library/
Movies/
Music/
Pictures/
Postman/
Public/

# Error Logs and Build Artifacts
java_error_in_studio.hprof
postgresql_17.app.zip

#
../../venv/
../
